body {
    color: whitesmoke;
    background-color: gray;
    background-image: url(../pic/pic_2.png);
}

h1 {
    text-align: center;
    color: rgb(177, 1, 177);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    text-shadow: 3px 3px 4px #34029e;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 25px;
}

table {
    text-align: center;
    font-size: 20px;
    margin: auto;
    border: white;
}

#aboutme{
    text-align: center;
}

img {
    display: block;
    margin: auto;
    
}

#contact {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.account:hover {
    color: azure;
    font: arial; 
}